/* .mat-elevation-z8{
  background-color: #faf3f3;
  border-radius: 8px;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid rgb(255, 255, 255);
  border-top: 1px solid rgb(255, 255, 255);
  cursor: pointer;
}

.mat-mdc-column .mat-mdc-cell {
  border-bottom: 1px solid rgb(255, 255, 255);
  border-top: 1px solid rgb(255, 255, 255);
  cursor: pointer;
}

.mat-table{
  border-radius: 8px;
  overflow:hidden !important;
}

table{
  width: 100%;
  border-radius: 8px;
}



  .mat-yellow {
    background-color: rgb(224, 202, 0);
    color: rgb(224, 202, 0);
}

 */

 .btn-custom{
  width: 50px;
  border-radius: 2px;
  height: 20px;
  font-size: 12px;
  margin: 2px;
  border: 0;
  padding: 2px;
  box-shadow: 1px 1px 1px 1px #c4c4c4;
  cursor: pointer;
}

.btn-custom:hover{
  background-color: aqua!important;
  color: #fff;
  cursor: pointer;
}

.header-table{
  border-bottom: 2px solid #000000;
  border-top: 2px solid #000000;
  }

  th{
    background-color: #65b5ff !important;
    color: #000000;
    font-weight: 500;
  }

.mat-table
{
  background-color:transparent!important;
}
table {
  width: 100%;
  min-width: 550px;
  border-collapse: collapse;
  border-radius: 5em;
  overflow: scroll;
}
table tr:last-child td /*To remove the last border*/
{
  border-bottom:0 solid
}
.container-customer{
  background-color: #fff;
  padding: 10px;
}

.container-btn{
  padding-top: 2px;
  padding-bottom: 2px;
}

