<div class="container-customer">
<table mat-table [dataSource]="data" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->
  <!-- Name Column -->
  <ng-container matColumnDef="customerName">
    <th mat-header-cell class="header-table" *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.customerName}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="customerPhone">
    <th mat-header-cell class="header-table" *matHeaderCellDef> Phone </th>
    <td mat-cell *matCellDef="let element"> {{element.customerPhone}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="pic">
    <th mat-header-cell class="header-table" *matHeaderCellDef> PIC </th>
    <td mat-cell *matCellDef="let element"> {{element.pic}} </td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell class="header-table" *matHeaderCellDef style="text-align: center;"> Action </th>
    <td mat-cell *matCellDef="let element">
      <mat-grid-list cols="1" rowHeight="50px" class="container-btn">
        <mat-grid-tile><button mat-raised-button class="btn-custom" (click)="openDialogDetail()" >Detail</button></mat-grid-tile>
        <mat-grid-tile><button mat-raised-button class="btn-custom" color="accent" >Update</button></mat-grid-tile>
        <mat-grid-tile><button mat-raised-button class="btn-custom" color="warn" >Delete</button></mat-grid-tile>
      </mat-grid-list>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>

<h2 mat-dialog-title>Customer Detail</h2>
<mat-dialog-content>
  <p>What's your favorite animal?</p>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button >No Thanks</button>
  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>
</mat-dialog-actions>

